<a href="https://colab.research.google.com/github/Gitzav/role_of_data_preparation/blob/main/Data_preparation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_excel("rolling_sale_data.xlsx")

For sales prior to the Final Roll, Neighborhood Name and Descriptive Data reflect the most recent Final Roll. Sales after the Final Roll, Neighborhood Name and Descriptive Data reflect current data.

Building Class Category is based on Building Class at Time of Sale.

Note: Condominium and cooperative sales are on the unit level and understood to have a count of one.

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79884 entries, 0 to 79883
Data columns (total 21 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   BOROUGH                         79884 non-null  int64
 1   NEIGHBORHOOD                    79884 non-null  object
 2   BUILDING CLASS CATEGORY         79884 non-null  object
 3   TAX CLASS AT PRESENT            79884 non-null  object
 4   BLOCK                           79884 non-null  int64
 5   LOT                             79884 non-null  int64
 6   EASEMENT                        0 non-null      float64
 7   BUILDING CLASS AT PRESENT       79884 non-null  object
 8   ADDRESS                         79884 non-null  object
 9   APARTMENT NUMBER                19539 non-null  object
 10  ZIP CODE                        79863 non-null  float64
 11  RESIDENTIAL UNITS               59938 non-null  float64
 12  COMMERCIAL UNITS                46097 non-null  float64
 13  TOTAL UNITS                     62871 non-null  float64
 14  LAND SQUARE FEET                43164 non-null  float64
 15  GROSS SQUARE FEET               43165 non-null  float64
 16  YEAR BUILT                      74518 non-null  float64
 17  TAX CLASS AT TIME OF SALE       79884 non-null  int64
 18  BUILDING CLASS AT TIME OF SALE  79884 non-null  object
 19  SALE PRICE                      79884 non-null  int64
 20  SALE DATE                       79884 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(8), int64(5), object(7)
memory usage: 12.8+ MB

In [7]:
df['SALE DATE'].dt.date.min()

datetime.date(2024, 11, 1)

In [8]:
df['SALE DATE'].dt.date.max()

datetime.date(2025, 10, 31)

In [11]:
df[df['BUILDING CLASS AT PRESENT'] == 'RA'].info()

<class 'pandas.core.frame.DataFrame'>
Index: 34 entries, 1306 to 58874
Data columns (total 21 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   BOROUGH                         34 non-null     int64
 1   NEIGHBORHOOD                    34 non-null     object
 2   BUILDING CLASS CATEGORY         34 non-null     object
 3   TAX CLASS AT PRESENT            34 non-null     object
 4   BLOCK                           34 non-null     int64
 5   LOT                             34 non-null     int64
 6   EASEMENT                        0 non-null      float64
 7   BUILDING CLASS AT PRESENT       34 non-null     object
 8   ADDRESS                         34 non-null     object
 9   APARTMENT NUMBER                34 non-null     object
 10  ZIP CODE                        34 non-null     float64
 11  RESIDENTIAL UNITS               0 non-null      float64
 12  COMMERCIAL UNITS                34 non-null     float64
 13  TOTAL UNITS                     34 non-null     float64
 14  LAND SQUARE FEET                0 non-null      float64
 15  GROSS SQUARE FEET               0 non-null      float64
 16  YEAR BUILT                      34 non-null     float64
 17  TAX CLASS AT TIME OF SALE       34 non-null     int64
 18  BUILDING CLASS AT TIME OF SALE  34 non-null     object
 19  SALE PRICE                      34 non-null     int64
 20  SALE DATE                       34 non-null     datetime64[ns]
dtypes: datetime64[ns](1), float64(8), int64(5), object(7)
memory usage: 5.8+ KB